[buildout]
extends =
    base.cfg

extensions =
    mr.developer

auto-checkout =
    collective.contentsections

[sources]
collective.contentsections = git https://github.com/collective/collective.contentsections.git pushurl=git@github.com:collective/collective.contentsections.git branch=new-text-section

[instance]
http-address = 2070